<footer>
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-12 col-md-4 mt-5">
                <h3>loction</h3>
                <p>2215 John Daniel Drive</p>
                <p>Clark, MO 65243</p>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <h3>AROUND THE WEB</h3>
                <div class="d-flex justify-content-center icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-solid fa-globe"></i>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-5">
                <h3>ABOUT FREELANCER</h3>
                <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>

    </div>
    <!-- footerbar -->
    <div class="footer-bottom text-center">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>