<section class="sec-portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="title-portfolio">portfolio component</h2>
            <div class="d-flex justify-content-center mb-2 align-items-center">
                <div class="line me-3"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3"></div>
            </div>
            <div class="row g-5 mt-2">
                @for (image of images; track $index) {
                <div class="col-lg-4  col-md-6 ">
                    <div class="img-container" (click)="openImage(image)">
                        <img [src]="image" alt="poert1" class="img-portfolio">

                    </div>

                </div>
                }

                @if (isOpen===true) {
                <div class="overlay" (click)="closeImage()">
                    <img [src]="urlImage" alt="">
                </div>
                }@else {
                <div class="overlay" style="display: none;">
                    <img [src]="urlImage" alt="">
                </div>
                }

            </div>
        </div>
    </div>
</section>